aiobotocore==2.1.2
aiohttp==3.8.1
aiohttp-retry==2.4.6
aioitertools==0.10.0
aiosignal==1.2.0
alembic==1.7.7
anyio @ file:///Users/runner/miniforge3/conda-bld/anyio_1641898109388/work/dist
appdirs==1.4.4
appnope @ file:///Users/runner/miniforge3/conda-bld/appnope_1635819655903/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi-bindings_1640855189785/work
asgiref==3.5.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1618968359944/work
async-timeout==4.0.2
asyncssh==2.8.1
atpublic==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1619719576210/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bayesian-optimization==1.2.0
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1631087867185/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
boto3==1.20.24
botocore==1.23.24
Bottleneck @ file:///opt/concourse/worker/volumes/live/ac8c8ef3-2ed0-42e9-6ec0-5bb05ad938f6/volume/bottleneck_1607575111469/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1636012303255/work
certifi==2021.10.8
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/croot-2p6q7e2r/cffi_1642701115063/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
click==8.1.0
cloudpickle==2.0.0
colorama==0.4.4
commonmark==0.9.1
configobj==5.0.6
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1639699339442/work
cycler==0.11.0
dask==2022.3.0
databricks-cli==0.16.4
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1636043384856/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
dictdiffer==0.9.0
diskcache==5.4.0
distro==1.7.0
docker==5.0.3
docopt==0.6.2
dpath==2.0.6
dulwich==0.20.34
dvc==2.9.5
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1646044401614/work
fastapi==0.75.0
Flask==2.1.0
flatten-dict==0.4.2
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1645629044586/work/source/flit_core
flufl.lock==7.0
fonttools==4.30.0
frozenlist==1.3.0
fsspec==2022.2.0
ftfy==6.1.1
funcy==1.17
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
grandalf==0.6
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
imageio==2.16.1
imbalanced-learn @ file:///home/conda/feedstock_root/build_artifacts/imbalanced-learn_1641929766604/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1647210449829/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1635615662634/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1647271396571/work/dist/ipykernel-6.9.2-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1646324777053/work
ipython-genutils==0.2.0
itsdangerous==2.1.2
javascript==1!0.2.16
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1637175406194/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
jmespath==0.10.0
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1642000296051/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1642858610849/work
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1645024457064/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1647294731586/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1647279328649/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1641592475363/work
kiwisolver==1.4.0
lightgbm==3.3.2
lime==0.1.1.34
llvmlite==0.38.0
locket==0.2.1
mailchecker==4.1.14
Mako==1.2.0
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1646594663125/work
matplotlib==3.5.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1635844789148/work
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/0cda23d8-7460-44b2-7e5d-3c76a8a0ca7e/volume/mkl_random_1626186083266/work
mkl-service==2.4.0
mlflow==1.24.0
multidict==6.0.2
nanotime==0.5.2
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1646410843390/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1646999386773/work
nbconvert @ file:///Users/runner/miniforge3/conda-bld/nbconvert_1647040788393/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1646951096007/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1638419302549/work
networkx==2.7.1
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1647274924377/work
notebook-shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1646330736330/work
numba==0.55.1
numexpr @ file:///opt/concourse/worker/volumes/live/87ac54fe-281a-440d-4d94-26ac99bdabdc/volume/numexpr_1640704258458/work
numpy @ file:///opt/concourse/worker/volumes/live/21fb9bb9-9731-4901-4403-2bc27cc2cc33/volume/numpy_and_numpy_base_1634106739792/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.4.1
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd==1.2.0
pathspec==0.9.0
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
phonenumbers==8.12.45
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.0.1
pipreqs==0.4.11
ply==3.11
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1643395600215/work
prometheus-flask-exporter==0.19.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1644497866770/work
protobuf==3.19.4
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1640887184573/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==7.0.0
pyasn1==0.4.8
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic==1.9.0
pydot==1.4.2
pygit2==1.9.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1641580240686/work
pygtrie==2.4.2
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1642534441916/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1635862544510/work
python-benedict==0.25.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-fsutil==0.6.0
python-slugify==6.1.1
pytz==2021.3
PyWavelets==1.3.0
PyYAML==6.0
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1635877545254/work
querystring-parser==1.2.4
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
rich==12.0.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3fs==2022.2.0
s3transfer==0.5.2
scikit-image==0.19.2
scikit-learn @ file:///opt/concourse/worker/volumes/live/cffa5efe-beec-4a37-5774-350794e43990/volume/scikit-learn_1642617139916/work
scipy @ file:///opt/concourse/worker/volumes/live/9284487f-601d-4bc3-5556-535c4949d341/volume/scipy_1641557769615/work
scmrepo==0.0.7
seaborn==0.11.2
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
shap==0.40.0
shortuuid==1.0.8
shtab==1.5.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
slicer==0.0.7
smmap==5.0.0
sniffio @ file:///Users/runner/miniforge3/conda-bld/sniffio_1635845059573/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1638550740809/work
SQLAlchemy==1.4.32
sqlparse==0.4.2
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1644872665635/work
starlette==0.17.1
tabulate==0.8.9
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1646684527147/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1645693042223/work
text-unidecode==1.3
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile==2022.3.16
toml==0.10.2
toolz==0.11.2
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1635819729986/work
tqdm==4.63.0
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1635260543454/work
typing_extensions==4.1.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1641584929973/work
uvicorn==0.17.6
voluptuous==0.12.2
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1645884408572/work
Werkzeug==2.1.0
wrapt==1.14.0
xgboost==1.5.2
xmltodict==0.12.0
yarg==0.1.9
yarl==1.7.2
zc.lockfile==2.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1643828507773/work
